body{
    background-color: #f0f7fa;
    font-size: 1rem;
    
}
/*navbar*/
.container-fluid{
    padding-top: 1rem;
    padding-bottom: 1em;
}
.fa{
    line-height: 1;
    font-weight: 900;
}
#mainNav{
    background-color: #f0f7fa;
    margin-bottom: 4rem;
}
.nav-bar{
    letter-spacing: 1em;
    font-size: 9em;
}
#navBar{
    margin-left: auto;
}
#navBar li a:hover{
    text-decoration: underline;
    color: rgba(23,42,58,.85);;
}

#navContainer{
    margin-right: 15%;
}
.nav-link{
    color: rgba(23,42,58,.85);
}
a:-webkit-any(){
    cursor: pointer;
}
.nav-item{
    padding: 0.3rem;
}
.container{
    margin-left: 11rem; 
}
#para{
    margin-bottom: 3rem;
    
}
/*part2*/
.main{
    flex-direction: row-reverse;
    margin-bottom: 5rem;
}
.net{
    display: inline-block;
}

.profileimage{
    border-radius: 3px;
    margin: 0 auto;
    object-fit: cover;
}
img{
    height: 200px;
    max-width: 100%;
    display: block;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    overflow: hidden;
}
h1,h2,h3{
    color: #172a3a;
    letter-spacing: .04em;
    font-family: lora,sans-serif;
    line-height: 1.25;
    margin-bottom: .5rem;
    font-weight: 400;
}
.title h2{
    color: #333;
    font-size: 1.75rem;
    font-weight: 300;
    margin: 20px 0 10px;
}
.title h3{
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0,0,0,.54);
    margin: 0 0 10px;
}
.title a:hover{
    color: #06805e;
}
a{
    color: #06805e;
}
.networks,.education{
    list-style: none;
}
.networks .fa{
    font-size: 2rem;
    display: inline-block;
}
.networks li{
    display: inline-block;
}

.Interests li{
    font-size: .9rem;
}
.institution{
    font-size: .75rem;
    color: rgba(0,0,0,.6);
}
.course{
    font-size: .9rem;
}

.carousel-item{
    padding: 3em 0;
}
.comment{
    max-width: 768px;
    font-size: 1.35rem;
}
.carousel-item{
    height: 325px;
    min-height: 325px;
    background-color: rgb(64, 64, 64);
}
.carousel-item p{
    color: white;
}
/*part3*/

/*part4*/
.lately{
    padding: 0px 0 20px 0;
    text-align: center;
}
