body{
    background-color: #f0f7fa;
    font-size: 1rem;
    
}
/*navbar*/
.container-fluid{
    padding-top: 1rem;
    padding-bottom: 1em;
}
.fa{
    line-height: 1;
    font-weight: 900;
}
@media (max-width: 991.98px){
.navbar-collapse {
    z-index: 1031!important;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background-color: #f0f7fa;
    text-align: center!important;
}
.navbar-collapse ul li a{
    text-decoration: none;
}

.navbar-collapse ul li a:hover{
    transition: 0.3s ease 0s, left 0.3s;
    border-bottom: 2px solid #06805e;
   
    
}
}
#mainNav{
    background-color: #f0f7fa;
    margin-bottom: 4rem;
}
.nav-bar{
    letter-spacing: 1em;
    font-size: 9em;
}
#navBar{
    margin-left: auto;
}
#navBar li a:hover{
    color: rgba(23,42,58,.85);;
}

#navContainer{
    margin-right: 15%;
}
.nav-link{
    color: rgba(23,42,58,.85);
}
.navlink::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
.nav-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
a:-webkit-any(){
    cursor: pointer;
}
.nav-item{
    padding: 0.3rem;
}


/*part2*/

#rows{
    flex-direction: row-reverse;
}
#profile img{
    height: 250px;
    width: 250px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
h1,h2,h3{
    color: #172a3a;
    letter-spacing: .04em;
    font-family: lora,sans-serif;
    line-height: 1.25;
    margin-bottom: .5rem;
    font-weight: 400;
}
h6{
    font-weight: 300;
    font-size: 1.2rem;
}
.title{
    color: #333;
    font-size: 1.75rem;
    font-weight: 300;
    margin: 20px 0 10px;
    line-height: 1.25;
}
.title1{
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0,0,0,.54);
    margin: 0 0 10px;
}
.title a:hover{
    color: #06805e;
}
a{
    color: #06805e;
}
.networks li a{
    font-size: 2.5rem;
}
.p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}

.Interests li{
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.institution,.blur{
    font-size: .75rem;
    color: rgba(0,0,0,.6);
}

.course{
    font-size: 1.2rem;
}
.allprojects{
    
    color: #044f3a;  
}
.allprojects:hover{
    background: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
   
}
.carousel-indicators {
    bottom:-50px;
  }
.carousel-indicators li{
    background-color: #06805e80;;
}
.carousel-indicators .active{
    opacity: 1;
}
.carousel-item{
    padding: 3em 0;
}
.carousel-inner {
    margin-bottom:90px;
 }
.comment{
    max-width: 768px;
    font-size: 1.35rem;
}
.carousel-item{
    height: 325px;
    min-height: 325px;
    background-color: rgb(64, 64, 64);
}
.carousel-item p{
    color: white;
}
/*part3*/

/*part4*/
.lately h1{
    font-size: 2.25rem;
    font-weight: 400;
    color: #172a3a;
    font-family: lora,sans-serif;
}
.linka{
    color: rgba(0,0,0,.6);
}
.article a{
    color: #151515;
    transition: color .6s ease;
}
.article a:hover{
    color: #06805e;
}
.btn-links a{
    color: #06805e;
    border-color: #06805e;
}
.btn-links a:hover{
    background-color: #06805e;
    border-color: #06805e;
}
.fcon{
    margin-top: 8rem;
}

/*
blog
*/
@media (max-width: 991.98px){
.navbar-brand {
    margin: 0 auto;
}}
.navbar-brand {
    font-weight: 700;
    
}
.page-item:last-child .page-l {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.page-item:first-child .page-l {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.page-link {
    color: #004346;
    background-color: #f0f7fa;}
.page-link:hover{
    background-color: #06805e;
    color: white;
}



